@tailwind base;
@tailwind components;
@tailwind utilities;

.navItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.navItem:hover {
  background: #f3f4f6;
}
.fade-in {
  animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
body {
  font-family: "Poppins", sans-serif;
}
